DATABASE_URL=postgresql://postgres.xxx:password@aws-xxx.pooler.supabase.com:6543/postgres
SECRET_KEY=change-this-in-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com
TELEGRAM_BOT_TOKEN=8549678098:AAFNHLtaVqmUTLG7ytBF7UvEZuN-KRZulHs
TELEGRAM_CHAT_ID=7609598752
TELEGRAM_ORDER_NOTIFICATIONS=True
